{% extends 'main.twig' %}

{% block topnav %}
<table style="width: 40%">
<tr>
<td><a href="{{ urlFor('index') }}">back</a></td>
<td><center>
{% if json['total_items'] %}
Displaying {{ offset + 1 }} &#8212; {{ json['total_items'] }} of {{ json['total_items'] }}
{% elseif not json['total_items'] %}
Displaying ? &#8212; ?? of ???
{% endif %}
</td></center>
<td align="right"><a href="{{ urlFor('index') }}">log out</a></td>
</tr>
</table>
{% endblock topnav %}



{% block content %}
{% if json["title"] %}
<table style="outline: thin solid; width: 40%; border-collapse: collapse">
<tr bgcolor="#6DC5DC">
<td width="100%"><b>ERROR</b></td><tr><td>
Status: {{ json["status"] }}: {{ json["title"] }}
</tr>
</table>
{% elseif not json %}
<table style="outline: thin solid; width: 40%; border-collapse: collapse">
<tr bgcolor="#6DC5DC">
<td width="100%"><b>ERROR</b></td><tr><td>
MY NAME IS ERROR
IT'S A SECRET TO EVERYONE
</tr>
</table>
{% else %}
<table style="outline: thin solid; width: 40%; border-collapse: collapse">
<tr bgcolor="#6DC5DC">
<td width="40%"><b>List Names</b></td>
<td width="20%"><b>List IDs</b></td>
<td width="2%"><b>Subscribers</b></td>
<td width="2%"></td>
</tr>




{% set totalitems = (json["total_items"] - 1) %}

{% for i in 0..totalitems %}
<tr style="outline: thin solid">
<td width="40%"><a href="{{ urlFor('members')}}?listId={{ json["lists"][i]["id"] }}&offset=0">{{ json["lists"][i]["name"] }}</a></td>
<td width="20%">{{ json["lists"][i]["id"] }}</td>
<td width="2%">{{ json["lists"][i]["stats"]["member_count"] }}</td>
</tr>
  {% endfor %}
{% endif %}
{% endblock content %}

{% block botnav %}
{% endblock botnav %}