<!DOCTYPE HTML>
<html>
<head>
<style>

body {
    font-family: "Helvetica Neue", "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial, "Lucida Grande", sans-serif;  
    font-weight: 400;
    }

</style>
</head>
<body>
{% block topnav %}
<table style="width: 40%">
<tr>
<td width="10%"><a href="{{ urlFor('lists') }}">back</a></td>
<td><center>
{% if ((offset) >= json['total_items'] - pageSize) %}
Displaying {{ offset + 1 }} &#8212; {{ json['total_items'] }} of {{ json['total_items'] }}
{% elseif not json['total_items'] %}
Displaying ? &#8212; ?? of ???
{% else %}
Displaying {{ (offset + 1) }} &#8212; {{ (offset + pageSize) }} of {{ json['total_items'] }}
{% endif %}
</td></center>
<td align="right" width="10%"><a href="{{ urlFor('index') }}">log out</a></td>
</tr>
</table>
{% endblock topnav %}



{% block content %}
{% endblock content %}




{% block botnav %}
<table style="width: 40%">
<tr>

{% if ((json['total_items'] - pageSize) <= 0) %}
<td></td>
{% elseif (offset <= 0) %}
<td></td>
{% elseif (offset >= (json['total_items'] - pageSize)) %}
<td width="10%">
<a href="{{ urlFor('members') }}?listId={{ listId }}&offset={{ offset - pageSize }}">prev</a>
</td>
{% elseif (offset > 0) %}
<td width="10%">
<a href="{{ urlFor('members') }}?listId={{ listId }}&offset={{ offset - pageSize }}">prev</a>
</td>
{% endif %}
<td>
<center>
{% if ((offset) >= json['total_items'] - pageSize) %}
Displaying {{ offset + 1 }} &#8212; {{ json['total_items'] }} of {{ json['total_items'] }}
{% elseif not json['total_items'] %}
Displaying ? &#8212; ?? of ???
{% else %}
Displaying {{ (offset + 1) }} &#8212; {{ (offset + pageSize) }} of {{ json['total_items'] }}
{% endif %}
</center>
</td>
{% if ((json['total_items'] - pageSize) <= 0) %}
<td></td>
{% elseif (offset <= 0) %}
<td align="right" width="10%"><a href="{{ urlFor('members') }}?listId={{ listId }}&offset={{ offset + pageSize }}">next</a></td>
{% elseif (offset >= (json['total_items'] - pageSize)) %}
<td></td>
{% elseif (offset > 0) %}
<td>
<td align="right" width="10%"><a href="{{ urlFor('members') }}?listId={{ listId }}&offset={{ offset + pageSize }}">next</a></td>
</td>
{% endif %}

</tr>
</table>
{% endblock botnav %}
</body>
<footer>
<table style="width: 40%">
<tr>
<td><center>&copy;Austin Sirkin. Last modified on {{ lastMod }}.

</center></td>
</tr>
</table>
</footer>
</html>