{% extends 'main.twig' %}

{% block content %}
{% if json["title"] %}
<table style="outline: thin solid; width: 40%; border-collapse: collapse">
<tr bgcolor="#6DC5DC">
<td width="100%"><b>ERROR</b></td><tr><td>
Status: {{ json["status"] }}: {{ json["title"] }}
</tr>
</table>
{% elseif not json %}
<table style="outline: thin solid; width: 40%; border-collapse: collapse">
<tr bgcolor="#6DC5DC">
<td width="100%"><b>ERROR</b></td><tr><td>
MY NAME IS ERROR
IT'S A SECRET TO EVERYONE
IT'S DANGEROUS TO GO ALONE; TAKE <a href="{{ urlFor('sword') }}">THIS</a>
</tr>
</table>
{% else %}
<table style="outline: thin solid; width: 40%; border-collapse: collapse">
<tr bgcolor="#6DC5DC">
<td width="70%"><b>Email Addresses</b></td>
<td width="30%"><b>Status</b></td>
</tr>
</table>

<table style="outline: thin solid; width: 40%">



{% set totalitems = (json["total_items"] - 1) %}

{% for i in 0..(pageSize - 1) %}
<tr style="outline: thin solid">
<td width="70%">{{ json["members"][i]["email_address"] }}</td>
<td width="30%">{{ json["members"][i]["status"] }}</td>
</tr>
  {% endfor %}
{% endif %}
{% endblock content %}
